.product-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.product-image {
    margin-right: 50px;
}

.product-image img {
    max-width: 400px;
    height: auto;
}

.product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.product-info h1 {
    margin-top: 0;
}

.product-qty {
    margin: 10px 0;
}

.product-price {
    margin-bottom: 20px;
}

.quantity {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.quantity button {
    font-size: 1.2rem;
    background-color: #fff;
    border: none;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quantity button:hover {
    background-color: #eee;
}

.quantity input {
    font-size: 1.2rem;
    width: 50px;
    text-align: center;
}

button[type="submit"] {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
