.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  margin: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image img {
  max-width: 100%;
}

.product-title {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

.product-quantity,
.product-price {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px;
}

.add-to-basket-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.add-to-basket-button:hover {
  background-color: #3e8e41;
}
