header {
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 1000px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
    font-size: 11px;
    color: #000333;
    background-color: #fff7fc;
}

body section#content {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 1000px;
    margin: 0 0 0 0;
    padding: 0;
}

form label {
    display: block;
    width: 250px;
    float: left;
    text-align: right;
    padding: 4px 10px 0 0;
    font-size: 12;
}

form input[type="text"],
form input[type="password"] {
    display: block;
    width: 255px;
    padding: 2px;
}

form input[type="submit"],
form button[type="button"] {
    width: 160px;
    line-height: 30px;
    margin: 0px 0px 0px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #d9dfea #0e1f3b #0e1f3b #d9dfea;
    background-color: #00007f;
    color: #FFFFFF;
    padding: 2px 15px 3px 8px;
    text-align: center;
}

.product-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

form#logout-form button[type="submit"] {
    background-color: red;
}

form#logout-form {
    position: absolute;
    top: 10px;
    right: 10px;
}