<!DOCTYPE html>
{% load static %}

<html>
   <head>
      <meta charset="utf-8">
      <title>
	server {% block title %}Welcome{% endblock %}
      </title>
      <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
   </head>
   <body id={% block bodyId %}genericPage{% endblock %}>
       <a href="{% url 'menu' %}">
        <img src="{% static 'image/logo.jpg' %}" width="100" height="100"  alt="Website Logo">
       </a>
      <header>
      {% block headerContent %}{% endblock %}
      </header>
      <section id="content">
      {% block content %}{% endblock %}
      </section>
   </body>
</html>
