{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Panier</h1>
    <form method="post">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                    <th>Prix total</th>
                    <th>Mettre à jour</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for item in basket_items %}
                    <tr>
                        <td>
                            <div class="product">
                                <img class="product-image" src="{% static 'image/' %}{{ item.product.illustration }}" alt="{{ item.product.appellation }}">
                                <h2>{{ item.product.appellation }}</h2>
                            </div>
                        </td>
                        <td>
                            <input type="number" name="quantity_{{ item.product.id }}" value="{{ item.quantity }}" min="1">
                        </td>
                        <td>{{ item.product.unit_price }}</td>
                        <td>{{ item.total_price }}</td>
                        <td>
                            <button class="update-btn" name="update_basket" formaction="{% url 'update_basket' item.product.id %}">Mettre à jour</button>
                        </td>
                        <td>
                            <button class="delete-btn" name="delete" formaction="{% url 'delete_from_basket' item.product.id %}">Supprimer</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="basket-summary">
            <h2>Résumé du panier</h2>
            <p>Total des articles: {{ basket_items|length }}</p>
            <button class="checkout-btn" type="submit" formaction="{% url 'checkout' %}">Détails de la commande</button>
        </div>
    </form>
{% endblock %}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    .product {
        display: flex;
        align-items: center;
    }

    .product-image {
        width: 50px;
        margin-right: 10px;
    }

    .update-btn, .delete-btn {
        background-color: #e74c3c;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .update-btn:hover, .delete-btn:hover {
        background-color: #c0392b;
    }

    .checkout-btn {
        background-color: #27ae60;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .checkout-btn:hover {
        background-color: #219954;
    }

    .basket-summary {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
</style>





