{% extends "base.html" %}

{% block content %}
    <h1>Détails de la commande</h1>
    <div class="checkout-container">
        <div class="cart-container">
            <h2>Panier</h2>
            <table>
                <thead>
                <tr>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                </tr>
                </thead>
                <tbody>
                {% for item in basket_items %}
                    <tr>
                        <td>{{ item.product.appellation }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.unit_price }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2">Montant total:</td>
                    <td>{{ total_amount }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="checkout-form">
            <h2>Informations sur l'expédition</h2>
            <form method="post">
                {% csrf_token %}
                <label for="shipping_address">Adresse de livraison:</label>
                <input type="text" id="shipping_address" name="shipping_address" required>
                <label for="billing_address">Adresse de facturation:</label>
                <input type="text" id="billing_address" name="billing_address" required>
                <input type="submit" value="Valider la commande">
            </form>
        </div>
    </div>

    <style>
        .checkout-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .cart-container {
            width: 60%;
        }

        .checkout-form {
            width: 35%;
        }

        table {
            border-collapse: collapse;
            margin: 20px 0;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        td:first-child {
            font-weight: bold;
        }

        td:last-child {
            font-weight: bold;
            text-align: right;
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        input[type="text"] {
            padding: 10px;
            margin-bottom: 20px;
            width: 100%;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #000;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #333;
        }

    </style>
{% endblock %}
