{% extends "base.html" %}
{% block title %}Menu{% endblock %}
{% block bodyId %}Menu Page{% endblock %}
{% block content %}
<form action="menu" method="post">
   {% csrf_token %}
   {% if error %}
   <p class="error">{{ error }}</p>
   {% endif %}
   <p>
      <button type="button" class="button" onClick="location.href='products'">Tous les produits</button>
   </p>
   <p>
      <button type="button" class="button" onClick="location.href='logout'">Se déconnecter</button>
   </p>
</form>
{% endblock %}
