{% extends "base.html" %}
{% load static %}
{% block content %}
    {#    <link rel="stylesheet" type="text/css" href="/static/css/product_detail.css"/>#}

    <div class="product-detail">
        <div class="product-image">
            <img src="{% static 'image/' %}{{ object.illustration }}" alt="{{ object.appellation }}">
        </div>
        <div class="product-info">
            <h1>{{ object.appellation }}</h1>
            <p class="product-qty">Quantité: {{ object.qty }}</p>
            <p class="product-price">Prix: €{{ object.unit_price }}</p>
            <form action="{% url 'add_to_basket' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ object.id }}">
                <label for="qty">Quantité:</label>
                <div class="quantity">
                    <button type="button" class="quantity-minus">-</button>
                    <input type="number" id="qty" name="quantity" min="1" value="1">
                    <button type="button" class="quantity-plus">+</button>
                </div>
                <button type="submit">Ajouter au panier</button>
                <a href="{% url 'basket' %}">Voir le panier</a>
            </form>
        </div>
    </div>
    <script>
        var quantityInput = document.getElementById('qty');
        var minusButton = document.querySelector('.quantity-minus');
        var plusButton = document.querySelector('.quantity-plus');

        minusButton.addEventListener('click', function () {
            var currentValue = parseInt(quantityInput.value);
            if (currentValue > 1) {
                quantityInput.value = currentValue - 1;
            }
        });

        plusButton.addEventListener('click', function () {
            var currentValue = parseInt(quantityInput.value);
            var maxQuantity = parseInt('{{ object.qty }}');
            if (currentValue < maxQuantity) {
                quantityInput.value = currentValue + 1;
            }
        });
    </script>

    <style>
        .product-detail {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 50px;
        }

        .product-image {
            margin-right: 50px;
        }

        .product-image img {
            max-width: 400px;
            height: auto;
        }

        .product-info {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        .product-info h1 {
            margin-top: 0;
            margin-left: 27.5%;
        }

        .product-qty {
            margin: 10px 0;
            margin-left: 27.5%;

        }

        .product-price {
            margin-bottom: 20px;
            margin-left: 27.5%;

        }

        .quantity {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .quantity button {
            font-size: 1.2rem;
            background-color: #fff;
            border: none;
            padding: 0;
            width: 30px;
            height: 30px;
        {#border-radius: 50%;#} margin: 0 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-right: 3% !important;
        }

        .quantity button:hover {
            background-color: #eee;
        }

        .quantity input {
            font-size: 1.2rem;
            width: 50px;
            text-align: center;
        }

        button[type="submit"] {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-left: 32%;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }

        a {
            margin-top: 10px;
            color: #007bff;
            text-decoration: none;
            cursor: pointer;
            transition: color 0.3s ease;
        }

        a:hover {
            color: #0056b3;
        }
    </style>
{% endblock %}

