{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/css/product_list.css"/>
    <h1>Tous les produits</h1>
    <a href="{% url 'basket' %}">Voir le panier</a>
    <div class="product-list">
        {% for product in products %}
            <div class="product-card">
                <div class="product-image">
                    <img src="{% static 'image/' %}{{ product.illustration }}" alt="{{ product.appellation }}">
                </div>
                <div class="product-details">
                    <h2 class="product-title"><a href="{% url 'product_detail' product.pk %}">{{ product.appellation }}</a></h2>
                    <p class="product-quantity">Quantité: {{ product.qty }}</p>
                    <p class="product-price">Prix: {{ product.unit_price }}</p>
{#                    <form method="post" action="{% url 'add_to_basket' product.pk %}">#}
{#                        {% csrf_token %}#}
{#                        <input type="number" name="quantity" value="1" min="1">#}
{#                        <button type="submit" class="add-to-basket-button">Add to basket</button>#}
{#                    </form>#}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}